.blog {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog .content {
    width: 90%;
    margin: 50px auto;
}

.blog .content .image {
    width: 100%;
    margin: 0 auto 50px auto;
    object-fit: contain;
}

.blog .content .image img {
    width: 90%;
    margin: 0 auto;
}

.blog .content .title {
    height: 50px;
    margin-bottom: 50px;
}

.blog .content .text {
    height: 50px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    .blog .content .image {
        width: 50%;
    }
}