.btn__home__create_account {
    width: 100%;
    height: auto;
    padding: 15px 0;
    border: none;
    border-radius: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #1A3349;
}

@media only screen and (min-width: 768px) {
    .btn__home__create_account {
        font-size: 24px;
        width: 300px;
    }
}