header {
    width: 80%;
    margin: 0 auto;
}

header > a:link, a:visited, a:active {
    text-decoration:none !important;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header nav ul {
    display: flex;
}

.image_logo {
    /* width: 50%;
    margin: 0 auto; */
}

.image_logo img {
    height: 200px;
    object-fit: contain;
    padding: 2em;
}