.login {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .header {
  width: 100%;
  height: auto;
  background-color: #1F4866;
  color: #FFF;
}

.login .header p {
  width: 90%;
  margin: 50px auto;
  font-size: 20px;
}

.login .contain {
  width: 90%;
  margin: 0 auto;
}

.login .contain .contain-form-login {
  width: 100%;
  margin: 50px auto;
  border: 1px solid #1F4866;
  box-shadow: 5px 5px 5px #1f4866;
}

.login .title {
  margin: 50px auto;
}

.login .login-form {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form div {
  width: 100%;
  margin-bottom: 25px;
}

.login-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}

.login .buttons {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

input:focus-visible {
  outline-color: transparent;
}

.span-info {
  display: block;
  font-size: 14px;
  color: #DF280A;
  text-align: initial;
  margin-top: 7px;
}

@media only screen and (min-width: 425px) {
  .login-form {
    width: 60% !important;
  }
}

@media only screen and (min-width: 768px) {
  .login-form {
    width: 300px !important;
  }

  .login .contain .contain-form-login {
    width: 50%;
    margin: 50px auto;
    border: 1px solid #1F4866;
    box-shadow: 5px 5px 5px #1f4866;
  }
}

@media only screen and (min-width: 1440px) {
  .login .login-form {
    width: 50%;
  }
}