.vehicles {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vehicles > .header {
    width: 100%;
    height: auto;
    background-color: #1F4866;
    color: #FFF;
}

.vehicles > .header > p {
    width: 90%;
    margin: 50px auto;
    font-size: 35px;
    text-transform: uppercase;
}

.vehicles .content {
    width: 100%;
}

.vehicles .content .table {
    width: 90%;
    margin: 50px auto;
    padding: 15px;
    height: 500px;
    outline: 1px solid #1F4866;
    box-shadow: 5px 5px 5px #1f4866;
}

.vehicles .content .table .link {
    display: flex;
    justify-content: flex-end;
}

.vehicles .content .table .listing {
    display: flex;
    flex-direction: column;
}

.vehicles .content .table .listing .header {
    width: 100%;
    color: #FFF;
    background-color: #1A3349;
    display: flex;
    align-items: center;
}

.vehicles .content .table .listing .header div {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.vehicles .content .table .listing .header p {
    width: 10%;
    margin: 0;
}

.vehicles .content .table .listing .data div {
    height: 110px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vehicles .content .table .listing .data div p {
    width: 10%;
    margin: 0;
    font-size: 14px;
}